<h1> Contact us page</h1>

<p>We are always happy to hear from our customers.</p>
Phone: <p><%= @phone %></p>

Press: <%= mail_to("press@nowhere.com")%> 

<p> <%= link_to("About Page", {:action => "about"}) %> </p>