<h1>This is the index page</h1>
<p>Find me in app/views/demo/index.html.erb</p>


<%= link_to("Hello Page", {:action => "hello"}) %>

<%# Linking to url with parameters %>
<%= link_to("Hello Page with Params", {:action => "hello", :id => 20, :page => "now"}) %>